body,nav,button{
    font-family: 'open sans', sans-serif;
    }
    body{
        font-size: 18px;
        background: rgba(0, 0, 0, 0.5);
        /* background: url('assets/main-bg.jpg') no-repeat center center fixed;
        background-size: cover; */
        
        
    }

    nav{
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        left: 0%;
        right: 0%;
        top: -0.03%;
        bottom: 90.66%;
        
        background: rgba(0, 0, 0, 0.5);

    }

    h3,h2,h1{
        font-family: 'bebas neue', cursive;
      color: white;
     
    }
    h1{
        font-weight: bold;
        font-size: 80px;
    }
    h2{
        font-weight: bold;
        font-size: 36px;
    }
    h3{
        font-weight: bold;
        font-size: 24px;
    }
    /* header background */

.main{
width: auto;
height:960.14px;
 background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%); 
background: url('assets/main-bg.jpg') no-repeat center center fixed;
background-size: cover; 
background-attachment: scroll;

}

.halaman2{

    width: auto;
    height: 1051px;
    left: -1.55px;
    top: 0.11px;
     background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%); 
    background: url('assets/the-games-bg.jpg') no-repeat center center fixed;
    background-size: cover; 
    color: white;
    background-attachment: scroll;

}

.halaman3{

    width: auto;
    height:960.14px;
    left: -1.55px;
    top: 0.11px;
     background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%); 
    background: url('assets/features.jpg') no-repeat center center fixed;
    background-size: cover; 
    color: white;
    background-attachment: scroll;

}

.halaman4{

    width: auto;
    height:960.14px;
    left: -1.55px;
    top: 0.11px;
     background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%); 
    background: url('assets/requirements.png') no-repeat center center fixed;
    background-size: cover; 
    color: white;
    background-attachment: scroll;

}

.halaman5{

    width: auto;
    height:960.14px;
    left: -1.55px;
    top: 0.11px;
     background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%); 
    background: url('assets/top-score-bg.png') no-repeat center center fixed;
    background-size: cover; 
    color: white;
    background-attachment: scroll;

}

/* .card{

    left: 60.26%;
    right: 8.31%;
    top: 16.58%;
    bottom: 64.37%;
    
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
} */

.halaman6{

    width: auto;
    height:960.14px;
    left: -1.55px;
    top: 0.11px;
     background-color: #080A0B;
    /* background: url('assets/top-score-bg.png') no-repeat center center fixed; */
    background-size: cover; 
    color: white;
    background-attachment: scroll;

}
.col-sm-10 span{
    padding-left: 6%;
    text-align: end;
    font-size: 12px;
    text-align: end;
    
} 

a{
    text-decoration: none;
    color: white;
}

/* nav a:hover{
    color: yellow;
} */

.navigation-bar a:hover {
    color: #e74c3c;
  }
  #navbarNav ul li a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    color: gold;
    background-color:gold;
  }
  #navbarNav a:hover::before {
    right: 0;
    left: 0;
  }

  #logo:hover{

    color: hsl(51, 100%, 50%);
      
  }


#btn1{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}

#btn1:hover{
    box-shadow: inset 300px 0 0 0 hsl(51, 100%, 50%);
    transition: ease-out 0.4s;
    font-size: 2rem;
    outline: none;
    color: white;
}

#btn2{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#btn2:hover{
    box-shadow: inset 300px 0 0 0 hsl(51, 100%, 50%);
    transition: ease-out 0.4s;
    font-size: 2rem;
    outline: none;
    color: white;
}

#btn3{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#btn3:hover{
    box-shadow: inset 300px 0 0 0 hsl(51, 100%, 50%);
    transition: ease-out 0.4s;
    font-size: 2rem;
    outline: none;
    color: white;
}

#g1{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#g1:hover{
     box-shadow:  0 0 0 0 ;
    transition: ease-out 0.4s;
    font-size: 1rem;
    outline: none;
    /* color: rgb(231, 221, 221); */
}

#g1{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#g1:hover{
     box-shadow:  0 0 0 0 ;
    transition: ease-out 0.4s;
    font-size: 1rem;
    outline: none;
    /* color: rgb(231, 221, 221); */
}

#g2{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#g2:hover{
     box-shadow:  0 0 0 0 ;
    transition: ease-out 0.4s;
    font-size: 1rem;
    outline: none;
    /* color: rgb(231, 221, 221); */
}

#g3{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#g3:hover{
     box-shadow:  0 0 0 0 ;
    transition: ease-out 0.4s;
    font-size: 1rem;
    outline: none;
    /* color: rgb(231, 221, 221); */
}
#g4{
    box-shadow: inset 0 0 0 0 #d3f41c;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;

}
#g4:hover{
     box-shadow:  0 0 0 0 ;
    transition: ease-out 0.4s;
    font-size: 1rem;
    outline: none;
    /* color: rgb(231, 221, 221); */
}